@keyframes spinner {
    to {transform: rotate(360deg);}
  }
   
  .spinner:before {
    content: '';
    box-sizing: border-box;
    margin: auto;
    margin-top: 50%;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #ccc;
    border-top-color: #e5002a;
    animation: spinner .6s linear infinite;
    display: flex;
    text-align: center;
  }